body {
    margin: 0;
}

header {
    text-align: center;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    background-color: hsla(160, 30%, 12%, 1);
}

h1 {
    font-size: 42px;
    color: hsla(120, 15%, 92%, 1);
}

header h3 {
    font-size: 20px;
    color: hsla(120, 10%, 70%, 1);
}

section {
    font-family: 'Lato', sans-serif;
    background-color: hsla(160, 25%, 18%, 1);
    color: hsla(120, 15%, 92%, 1);
    padding: 20px 0;
    border-bottom: 4px solid hsla(160, 30%, 12%, 1);
}

#about {
    text-align: center;
}

p {
    font-size: 22px;
}

h2 {
    color: hsla(45, 90%, 65%, 1);
    font-size: 46px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsla(120, 15%, 92%, 1);
}

#skills ol {
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    width: 100%;
}

#skills ol li {
    border-bottom: 4px solid hsla(160, 30%, 12%, 1);
    padding-bottom: 20px;
}

#skills ol li:last-child {
    border-bottom: none;
}

.skill-image {
    width: 400px;
}

#education {
    text-align: center;
    line-height: 1.7;
}